# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# DOCKER VARIABLES FOR AUTOMATION
SUDO=sudo                                               # <- how local user executes system commands - leave it empty if not necessary ----------------------> #
DOCKER=sudo docker                                      # <- how local user executes Docker commands --------------------------------------------------------> #
DOCKER_COMPOSE=sudo docker compose                      # <- how local user executes "docker compose" or docker-compose command -----------------------------> #

# CONTAINERS BASE INFORMATION FOR BUILDING WITH docker-compose.yml
PROJECT_NAME="MY PROJECT NAME"                          # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=myproj                                     # <- abbreviation or acronym name as part of the container tag that is useful relationship naming ---> #
PROJECT_HOST="127.0.0.1"                                # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=mp-dev                                     # <- useful when a network is required for container connections between each other -----------------> #

# API - LOCAL
APIREST_PLTF=nginx-python-3.14                          # <- platform assets directory's name ---------------------------------------------------------------> #
APIREST_IMGK=alpine3.23-nginx1.28-py3.14                # <- real main image keys to manage automations for sharing resources -------------------------------> #
APIREST_PORT=7500                                       # <- local machine port opened for container service ------------------------------------------------> #
APIREST_BIND="../../../apirest"                         # <- path where application is binded from container to local ---------------------------------------> #
APIREST_CAAS=mp-apirest-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
APIREST_CAAS_USER=myproj                                # <- container's project directory user -------------------------------------------------------------> #
APIREST_CAAS_GROUP=myproj                               # <- container's project directory group ------------------------------------------------------------> #
APIREST_CAAS_MEM=512M                                   # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
APIREST_CAAS_SWAP=1G                                    # <- container's RAM swap space in storage executed by automation command ---------------------------> #
APIREST_GIT_SSH=~/.ssh/id_rsa	                        # <- container's project ssh key to connect to remote repository ------------------------------------> #
APIREST_GIT_HOST=github.org                             # <- container's project remote repository service --------------------------------------------------> #
APIREST_CAAS_BRANCH=develop                             # <- git branch that bonded directory has to be deployed by default ---------------------------------> #
APIREST_DOMAIN=my-project.localhost                     # <- api domain to watch Nginx domain dedicated access/error logs -----------------------------------> #

# DATABASE - LOCAL
DATABASE_PLTF=pgsql-18.2                                # <- platform assets directory's name ---------------------------------------------------------------> #
DATABASE_IMGK=alpine3.23-pgsql-18.2                     # <- real main image keys to manage automations for sharing resources -------------------------------> #
DATABASE_PORT=7501                                      # <- local machine port opened for container service ------------------------------------------------> #
DATABASE_CAAS=mp-pgsql-dev                              # <- container name to build the service - it is important to set the environment in this variable --> #
DATABASE_CAAS_CPUS=2.00                                 # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
DATABASE_CAAS_MEM=128M                                  # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
DATABASE_CAAS_SWAP=256M                                 # <- container's RAM swap space in storage executed by automation command ---------------------------> #
DATABASE_ROOT="root-strong-password"                    # <- database root password -------------------------------------------------------------------------> #
DATABASE_NAME=db_local                                  # <- database name ----------------------------------------------------------------------------------> #
DATABASE_USER=db_user                                   # <- database user ----------------------------------------------------------------------------------> #
DATABASE_PASS="dev_password"                            # <- database password ------------------------------------------------------------------------------> #
DATABASE_PATH="../../resources/database/"               # <- sql file's directory ---------------------------------------------------------------------------> #
DATABASE_INIT=pgsql-init.sql                            # <- init sql file ----------------------------------------------------------------------------------> #
DATABASE_BACK=pgsql-backup.sql                          # <- backup sql file --------------------------------------------------------------------------------> #

# MAILER - LOCAL
MAILER_PLTF=mailhog-1.0                                 # <- platform assets directory's name ---------------------------------------------------------------> #
MAILER_IMGK=mailhog:alpine-3.12-mailhog-1.0             # <- real main image keys to manage automations for sharing resources -------------------------------> #
MAILER_PORT=7502                                        # <- local machine port opened for container service ------------------------------------------------> #
MAILER_CAAS=mp-mailhog-dev                              # <- container name to build the service - it is important to set the environment in this variable --> #
MAILER_CAAS_CPUS=2.00                                   # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
MAILER_CAAS_MEM=256M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MAILER_CAAS_SWAP=512M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MAILER_APP_PORT=7503                                    # <- application ui management port -----------------------------------------------------------------> #

# BROKER - LOCAL
BROKER_PLTF=rabbitmq-4.2                                # <- platform assets directory's name ---------------------------------------------------------------> #
BROKER_IMGK=rabbitmq:4.2-management-alpine              # <- real main image keys to manage automations for sharing resources -------------------------------> #
BROKER_PORT=7504                                        # <- local machine port opened for container service ------------------------------------------------> #
BROKER_BIND="./rabbitmq_data"                           # <- platform broker data storage in local ----------------------------------------------------------> #
BROKER_CAAS=mp-rabbitmq-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
BROKER_CAAS_MEM=128M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
BROKER_CAAS_SWAP=256M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
BROKER_APP_PORT=7505                                    # <- application ui management port -----------------------------------------------------------------> #
BROKER_APP_USER=guest                                   # <- application ui management user -----------------------------------------------------------------> #
BROKER_APP_PASS=guest                                   # <- application ui management password -------------------------------------------------------------> #
BROKER_APP_COOKIE="guest-password"                      # <- application security ---------------------------------------------------------------------------> #
BROKER_APP_NODENAME=rabbit@rabbitmq                     # <- application configuration ----------------------------------------------------------------------> #
